<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsk.hxqh.agp_eam">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    /** permission **/
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.PermissionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.AssetDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.Asset_bujianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.Asset_beijianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.Asset_workorderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.UdfaultreportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.UdfaultreportDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.WorkOederListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.WorkOrderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.Work_PlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.WoactivityDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.WplaborDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.WpmaterialDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.Work_RealActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.LabtransDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.MatusetransDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.InventoryDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.Inventory_InvbalancesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.InvbalancesDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.UdstockListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.UdstockDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.UdstockLineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.ItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.ItemDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.Item_InventoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.InventoryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.Wfm_Details_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.UdworkapplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.UdworkapplyDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.option.Asset_chooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.option.Location_chooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.option.Udyearplan_chooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.option.Jobplan_chooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.option.Person_chooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.option.Craftrate_chooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.option.Companies_chooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.UdfaultreportAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.UdworkapplyAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
        <activity
            android:name=".ui.activity.WxDemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AGP.ActivityTheme" />
    </application>

</manifest>